<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>

	<body>
		<!-- Static navbar (on every view) -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			  <div class="navbar-header">
				<a class="navbar-brand" href="#">BizChat</a>
			  </div>
			  <div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
				  <li><a href="./mainpageview.html">User Profile</a></li>
				</ul>
				<ul class="nav navbar-nav">
				  <li><a href="mainchatview.html">Main Chat</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
				  <li><a href="homepageview.html">Logout</a></li>
				</ul>
			  </div>
			</div>
		</nav>

		<!-- Main body of page -->
		<div class="container-fluid">  
		<div class="col-md-1"></div>
			<div class="col-md-10">
		  	<div class="Rooms">
		  		<!-- User Profile Information -->
		      	<div id="profilebar">
				<head>
					<h2><strong>Your Rooms</strong></h2>
				</head>

				<table class="table table-bordered">
						 <thead>
							<tr>
								<th>Room Title</th>
								<th>Room Description</th>
								<th style="text-align:center">Date To Destroy</th>
								<th style="text-align:center">Modify</th>
							</tr>
						 </thead>
						 <tbody>
						 <tr>
								<td>Marketing Project Team</td>
								<td>Platform to discuss issues with the marketing project</td>
								<td align="center">08/13/2015</td>
								<td align="center"><button type="button" class="btn btn-warning btn-sm">Modify</button></td>
							</tr>
							<tr>
								<td>CPSC 4910-01 Chat</td>
								<td>Chat room for the students and professor of the CPSC 4910 course</td>
								<td align="center">06/14/2015</td>
								<td align="center"><button type="button" class="btn btn-warning btn-sm">Modify</button></td>
							</tr>
							<tr>
								<td>Team 4 Chat</td>
								<td>Platform for the group members of Team 4 to discuss issues relating to the group</td>
								<td align="center">NONE</td>
								<td align="center"><button type="button" class="btn btn-warning btn-sm">Modify</button></td>
							</tr>
						</tbody>
				</table>
				<div class='btn-toolbar pull-right'>
				<button type="button" class="btn btn-success">+ Add A Room</button>
				</div>
			</div>
		</div>
		</div>
	 </body>
</html>