<div class="container" ng-controller='UserCtrl' >  
	<head>
		<div class="col-md-1"></div>
		<h2><strong>Add A Room</strong></h2>
	</head>
	<div class="col-md-10"></div>
	<div class="col-md-1">
		<div class='btn-toolbar pull-right'>
			<a type="button" class="btn btn-success"  ng-click="postRoom()">Publish</a> <!-- href="/#/roomlist"-->
		</div>
	</div>
	<div class="col-md-1"></div>

	<div class="col-md-1"></div>
	<div class="col-md-4">
		<!-- Main body of page -->
		<div class="rooms">
			<!-- User Profile Information -->
			<div id="profilebar">
				<head>
					<h3><strong>Room Information</strong></h3>
				</head>

				<!--Create Room Form-->
				<form>
					<div class="form-group">
						<label for="exampleInputRoomName">Room Name</label>
						<input type="text" class="form-control" id="RoomName" ng-model="newRoom.Name" placeholder="Enter Room Name" required>
					</div>
					<div class="form-group">
						<label for="exampleInputRoomDescription">Room Description</label>
						<input type="text" class="form-control" id="RoomDescription" ng-model="newRoom.Description" placeholder="Enter Room Description" rows="4" required>
					</div>

					<div class="form-group" ng-model="newRoom.PrivacyEnabled">
						<input type="radio" name="public/private" value="False">Public<br>
						<input type="radio" name="public/private" value="True">Private
					</div>

					<div class="form-group">
						<label for="exampleInputDate">Date To Destroy</label>
						<div class="input-group">
							<input type="date" class="form-control" id="InputDate" ng-model="newRoom.DateDestroy" placeholder="date"> 
							<div class="checkbox">
								<label>
									<input type="checkbox" align="right"> Do Not Destroy
								</label>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-6">
		<!-- Main body of page -->
		<div class="guests" ng-controller='UserCtrl' ng-init='getUserList()'>
			<!-- User Profile Information -->
			<div id="profilebar">
				<head>
					<h3><strong>Guest Information</strong></h3>
				</head>
				<table class="table table-bordered" style="height:300px;">
					<col width="7%">
					<col width="20%">
					<col width="73%">
					<thead>
						<tr style="width: 100%; display: inline-table;">
							<th width="7%"></th>
							<th width="20%">User Image</th>
							<th width="73%">User Name</th>
						</tr>
					</thead>
				
						<tbody style="overflow-y: scroll; height: 258px; width: 100%; position: absolute;">
							<tr ng-repeat="user in userlist" style="width: 97.5%; display: inline-table;">
								<td width="7%" style="vertical-align:middle;">
									<div class="checkbox">
										<label>
											<input type="checkbox">
										</label>
									</div>
								</td>
								<td width="19.9%" id="picture"><img ng-src="{{user.Picture}}" alt="User Portrait" style="width: 90; vertical-align:middle;"></td>
								<td width="73.1%" id="name" style="vertical-align:middle;">{{user.Fname}} {{user.Lname}}</td>
							</tr>

						</tbody>
					</table>
				
				
				
			</div>
		</div>
	</div>
</div>
<div class="col-md-10"></div>
<div class="col-md-1">
	<div class='btn-toolbar pull-right'>
		<a type="button" class="btn btn-danger" href="/#/roomlist/">Cancel</a>
	</div>
</div>
