<!-- Main chat room -->
<div id="mainchat" ng-controller='MainChatCtrl'>
	<div class="col-md-12" >
		<h4 id="roomName"><strong>Main Chat</strong></h4>
		<h5 id="roomDesc">This is the main chat room for all members of the super group</h5>

		
		<div class="chatbox" ng-init='getMessages()'>
			<!-- User Profile Information -->
			<div id="profilebar">
				<table  style="height:410px;">
					<tbody style="overflow-y: scroll; height: 400px; width: 1100px; border:3px solid #ACD8F0; position:absolute;">
						<tr ng-repeat="message in messagelist" style="width: 97.5%; display: inline-table;">
							
							<td style="vertical-align:middle;">
								<p></p>
								<strong style="border: 2px solid; width: 100%;">{{message.Message}} </strong>
								<p>{{message.userName}}</p>
							</td>	
							
						</tr>
					</tbody>
				</table>	
			</div>
		</div>
	</div>
	
	
	<div class="col-md-12">
		<div>
			<form>
				<div class="col-xs-11" align = "left">
					<input type="text" border="3px" class="form-control" ng-model="newMessage.Message" id="mainMessage" placeholder="Type your message..."></input>
				</div>
			</form>
			<a type="button"  class="btn btn-default" ng-click="postMessage()" href="/#/mainchat">Submit</a>
		</div>
		
	</div>	
	<div class="col-md-1"></div>
</div>

			