<div class="container" ng-controller='RoomEditCtrl'>  
	<head>
		<div class="col-md-1"></div>
		<h2><strong>Add/Modify Room Information</strong></h2>
	</head>
	<div class="col-md-10"></div>
	<div class="col-md-2">
		<div class='btn-toolbar pull-right'>
			<a type="button" class="btn btn-success" href="/#/roomlist">Update</a> <!-- -->
		</div>
	</div>

	<div class="col-md-4">
		<!-- Main body of page -->
		<div class="rooms">
			<!-- User Profile Information -->
			<div id="profilebar">
				<head>
					<h3><strong>Room Information</strong></h3>
				</head>
				
				<form ng-controller='RoomEditCtrl' ng-init='getRoomData()'>
					<div class="form-group">
						<label for="exampleInputRoomName">Room Name</label>
						<input type="text" class="form-control" id="exampleInputRoomName" placeholder="Enter Room Name" ng-model="room.Name" required>
					</div>
					<div class="form-group">
						<label for="exampleInputRoomDescription">Room Description</label>
						<input type="text" class="form-control" id="exampleInputRoomDescription" placeholder="Enter Room Description" ng-model="room.Description" required>
					</div>

					<div class="form-group" >
						<input type="radio" name="public/private" value="false" checked="room.PrivacyEnabled">Public<br>
						<input type="radio" name="public/private" value="true" checked="room.PrivacyEnabled">Private
					</div>

					<div class="form-group">
						<label for="exampleInputDate">Date To Destroy</label>
						<div class="input-group">
							<input type="date" class="form-control" id="exampleInputDate" placeholder="date" ng-model="room.DateDestroy"> 
							<div class="checkbox">
								<label>
									<input type="checkbox" align="right"> Do Not Destroy
								</label>
							</div>
						</div>
					</div>
				</form>


				
			</div>
		</div>
	</div>
	
	<div class="col-md-1"></div>
	
	<div class="col-md-6">
		<!-- Main body of page -->
		<div class="guests" ng-controller='UserCtrl' ng-init='getUserList()'>
			<!-- User Profile Information -->
			<div id="profilebar">
				<head>
					<h3><strong>Room Members</strong></h3>
				</head>
				<table class="table table" style="height:300px;">
					<thead style="width: 100%; height: 10%; display: inline-table;">
						<th width="20%">User Image</th>
						<th width="68%">User Name</th>
						<th width="12%"></th>
					</thead>
						<tbody style="overflow-y: scroll; height: 258px; width: 100%; position:absolute;">
							<tr ng-repeat="user in userlist | orderBy: 'Fname'" style="width: 97.5%; display: inline-table;">
								<td width="20%" id="picture"><img ng-src="{{user.Picture}}" alt="User Portrait" style="width: 90; vertical-align:middle;"></td>
								<td width="68%" id="name" style="vertical-align:middle;">{{user.Fname}} {{user.Lname}}</td>
								<td width="12%" style="vertical-align:middle;">
									<a type="button" class="btn btn-danger" href="/#/roomlist/edit/{{room.RoomID}}">Remove</a> <!-- -->
								</td>
							</tr>

						</tbody>
					</table>
			</div>
		</div>
		<div class="guests" ng-controller='UserCtrl' ng-init='getUserList()'>
			<!-- User Profile Information -->
			<div id="profilebar">
				<head>
					<h3><strong>Non-Members</strong></h3>
				</head>
				<table class="table table" style="height:300px;">
					<thead style="width: 100%; height: 10%; display: inline-table;">
						<th width="20%">User Image</th>
						<th width="68%">User Name</th>
						<th width="12%"></th>
					</thead>
						<tbody style="overflow-y: scroll; height: 258px; width: 100%; position:absolute;">
							<tr ng-repeat="user in userlist | orderBy: 'Fname'" style="width: 97.5%; display: inline-table;">
								<td width="20%" id="picture"><img ng-src="{{user.Picture}}" alt="User Portrait" style="width: 90; vertical-align:middle;"></td>
								<td width="68%" id="name" style="vertical-align:middle;">{{user.Fname}} {{user.Lname}}</td>
								<td width="12%" style="vertical-align:middle;">
									<a type="button" class="btn btn-success" href="/#/roomlist/edit/{{room.RoomID}}">Add</a> <!-- -->
								</td>
							</tr>

						</tbody>
					</table>
			</div>
		</div>
	</div>

</div>
<div class="col-md-9"></div>
<div class="col-md-3">
	<div class='btn-toolbar pull-right'>
		<a type="button" class="btn btn-modify" href="/#/roomlist/">Cancel</a>
		<button type="button" class="btn btn-danger">Delete Room</button>
	</div>
</div>